<div class="container-fluid mega-option">
    <div class="row">
        <div class="col-12">
            <app-variation-radio />
        </div>
        <div class="col-sm-12">
            <app-variation-checknox />
        </div>
        <div class="col-sm-12 col-xxl-6 box-col-6">
            <app-default-style />
        </div>
        <div class="col-sm-12 col-xxl-6 box-col-6">
            <app-without-borders-style />
        </div>
        <div class="col-sm-12 col-xxl-6 box-col-6">
            <app-solid-border-style />
        </div>
        <div class="col-sm-12 col-xxl-6 box-col-6">
            <app-offer-borders-style />
        </div>
        <div class="col-sm-12">
            <app-inline-style />
        </div>
        <div class="col-sm-12 col-xxl-6 box-col-12">
            <app-vertical-style />
        </div>
        <div class="col-sm-12 col-xxl-6 box-col-12">
            <app-horizontal-style />
        </div>
    </div>
</div>