<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-md-6">
            <app-sizes />
        </div>
        <div class="col-xl-4 col-md-6">
            <app-status-indicator />
        </div>
        <div class="col-xl-4 col-md-12">
            <app-shapes />
        </div>
        <div class="col-xl-5 col-md-12">
            <app-grouping />
        </div>
        <div class="col-xl-4 col-md-6">
            <app-ratio />
        </div>
        <div class="col-xl-3 col-md-6">
            <app-grouping-with-counter />
        </div>
    </div>
</div>