<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-custom-switch />
        </div>
        <app-common-switch />
        <div class="col-md-6">
            <app-disabled-outline-switch />
        </div>
        <div class="col-md-6">
            <app-variation-outline-switch />
        </div>
        <div class="col-md-12">
            <app-switch-sizing />
        </div>
        <div class="col-md-12">
            <app-switch-with-icons />
        </div>
    </div>
</div>