<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-simple-example />
        </div>
        <div class="col-md-6">
            <app-sizing />
        </div>
        <div class="col-md-6">
            <app-basic-input-control />
        </div>
        <div class="col-md-6">
            <app-flat-style />
        </div>
        <div class="col-md-6">
            <app-edges-style />
        </div>
        <div class="col-md-6">
            <app-raise-style />
        </div>
    </div>
</div>