<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <app-simple-tabs />
        </div>
        <div class="col-lg-6">
            <app-icons-tabs />
        </div>
        <div class="col-lg-6">
            <app-vertical-tabs />
        </div>
        <div class="col-lg-6">
            <app-pills-tabs />
        </div>
        <div class="col-lg-6">
            <app-justify-tabs />
        </div>
        <div class="col-lg-6">
            <app-material-style-left-tabs />
        </div>
        <div class="col-lg-6">
            <app-material-style-tabs />
        </div>
        <div class="col-lg-6">
            <app-border-tabs />
        </div>
    </div>
</div>