<div class="email-right-aside bookmark-tabcontent contacts-tabs">
    <div class="card email-body">
        <div class="ps-0">
            <div class="tab-content">
                <div class="tab-pane fade active show">
                    <div class="card mb-0">
                        <div class="card-header d-flex">
                            <h3>{{getTaskData.title}}</h3>
                            <span class="f-14 pull-right mt-0">{{getTaskData.contect}} Contacts</span>
                        </div>
                        <div class="card-body p-0">
                            <div class="row list-persons">
                                <div class="col-xl-4 xl-45 col-md-5 box-col-6">
                                    <div class="nav flex-column nav-pills">
                                        @for(item of getTaskData.data; track item){
                                        <a class="contact-tab-0 nav-link" [class.active]="item.status"
                                            (click)="changeData(item)">
                                            <div class="d-flex">
                                                <img class="img-50 img-fluid m-r-20 rounded-circle update_img_0"
                                                    [src]="item.img" alt="">
                                                <div class="flex-grow-1">
                                                    <h6> <span class="first_name_0"> {{item.fname}}</span>
                                                        <span class="last_name_0">{{item.lname}}</span>
                                                    </h6>
                                                    <p class="email_add_0">{{item.email}}</p>
                                                </div>
                                            </div>
                                        </a>
                                        }
                                    </div>
                                </div>
                                <div class="col-xl-8 xl-55 col-md-7 box-col-6">
                                    <app-profile-data [lastData]="lastData" [TaskData]="getTaskData" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>