<div class="md-sidebar job-sidebar" (clickOutside)="clickOutside()">
    <a class="btn btn-primary md-sidebar-toggle" (click)="openFilter()">file filter</a>
    <div class="md-sidebar-aside custom-scrollbar" [class.open]="open">
        <div class="file-sidebar">
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li>
                            <div class="btn btn-primary">
                                <app-feather-icon [icon]="'home'" />
                                 Home
                            </div>
                        </li>
                        <li>
                            <div class="btn bg-light font-light">
                                <app-feather-icon [icon]="'folder'" />
                                 All
                            </div>
                        </li>
                        <li>
                            <div class="btn bg-light font-light">
                                <app-feather-icon [icon]="'clock'" />
                                 Recent
                            </div>
                        </li>
                        <li>
                            <div class="btn bg-light font-light">
                                <app-feather-icon [icon]="'star'" />
                                Starred
                            </div>
                        </li>
                        <li>
                            <div class="btn bg-light font-light">
                                <app-feather-icon [icon]="'alert-circle'" />
                                Recovery
                            </div>
                        </li>
                        <li>
                            <div class="btn bg-light font-light">
                                <app-feather-icon [icon]="'trash-2'" />
                                Deleted
                            </div>
                        </li>
                    </ul>
                    <hr>
                    <ul>
                        <li>
                            <button class="btn btn-outline-primary">
                                <app-feather-icon [icon]="'database'" />
                                Storage
                            </button>
                        </li>
                        <li class="m-t-15">
                            <div class="progress sm-progress-bar mb-3">
                                <div class="progress-bar bg-primary" style="width: 25%"></div>
                            </div>
                            <h6 class="f-w-500">25 GB of 100 GB used</h6>
                        </li>
                    </ul>
                    <hr>
                    <ul>
                        <li>
                            <button class="btn btn-outline-primary">
                                <app-feather-icon [icon]="'grid'" />Pricing plan
                            </button>
                        </li>
                        <li>
                            <div class="pricing-plan">
                                <h6>Trial Version </h6>
                                <h5>FREE</h5>
                                <p>100 GB Space </p>
                                <div class="btn btn-outline-primary btn-xs">Selected</div>
                                <img class="bg-img" src="assets/images/file-manager/folder.png" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>