<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <app-basic-tooltip />
        </div>
        <div class="col-lg-6">
            <app-colored-tooltip />
        </div>
        <div class="col-lg-6">
            <app-tooltip-directions />
        </div>
        <div class="col-lg-6">
            <app-html-elements-click-event />
        </div>
        <div class="col-lg-6">
            <app-filled-tooltip />
        </div>
        <div class="col-xl-6 col-lg-7">
            <app-wonky-tooltip />
        </div>
        <div class="col-xl-6 col-lg-5">
            <app-image-tooltip />
        </div>
    </div>
</div>