<div class="container-fluid ecommerce-dashboard">
    <div class="row">
        <div class="col-xl-9">
            <div class="row">
                <div class="col-md-4">
                    <app-top-ecommerce-chart [data]="TotalSaleChart" />
                </div>
                <div class="col-md-4">
                    <app-top-ecommerce-chart [data]="NewOrderChart" />
                </div>
                <div class="col-md-4">
                    <app-top-ecommerce-chart [data]="OrderDeliveryChart" />
                </div>
                <div class="col-md-6 col-xl-7">
                    <app-top-selling-products />
                </div>
                <div class="col-md-6 col-xl-5">
                    <app-category-overview />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <app-manage-order />
        </div>
        <div class="col-md-6">
            <app-sales-summary />
        </div>
        <div class="col-md-6 col-xl-3">
            <app-product-offer />
        </div>
        <div class="col-md-6 col-xl-3">
            <app-product-progress />
        </div>
        <div class="col-md-12 col-xl-4">
            <app-best-sellers />
        </div>
        <div class="col-md-6 col-xl-4">
            <app-product-details />
        </div>
        <div class="col-md-6 col-xl-4">
            <app-sales-by-product />
        </div>
    </div>
</div>