<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6">
            <app-default-touchspin />
        </div>
        <div class="col-xl-6">
            <app-outlined-touchspin />
        </div>
        <div class="col-xl-6">
            <app-icons-with-prefix-postfix />
        </div>
        <div class="col-xl-6">
            <app-buttons-with-prefix-postfix />
        </div>
        <div class="col-xl-12">
            <app-rounded-touchspin />
        </div>
    </div>
</div>