<div class="container-fluid accordion-page">
    <div class="row">
        <div class="col-md-6">
            <app-simple-accordion />
        </div>
        <div class="col-md-6">
            <app-flush-accordion />
        </div>
        <div class="col-md-12">
            <app-multiple-collapse-accordion />
        </div>
        <div class="col-md-6">
            <app-icons-accordion />
        </div>
        <div class="col-md-6">
            <app-nested-accordion />
        </div>
        <div class="col-xxl-6 col-xl-5">
            <app-horizontal-accordion />
        </div>
        <div class="col-xxl-6 col-xl-7">
            <app-differnt-tag-accordion />
        </div>
    </div>
</div>