<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <app-common-top-alerts [data]="darkAlert" />
        </div>
        <div class="col-xl-12">
            <app-common-top-alerts [data]="LightAlert" />
        </div>
        <div class="col-xl-6">
            <app-color-alert-outline />
        </div>
        <div class="col-xl-6">
            <app-icons-text-alerts />
        </div>
        <div class="col-lg-6">
            <app-live-alert />
        </div>
        <div class="col-lg-6">
            <app-border-direction-alert />
        </div>
        <div class="col-xl-12">
            <app-additional-content />
        </div>
    </div>
</div>