<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Post Edit</h4>
          <p class="desc mb-0 mt-1"><span></span><code></code><span></span></p>
        </div>
        <div class="card-body add-post">
          <form class="row needs-validation" novalidate="">
            <div class="col-sm-12">
              <div class="mb-3">
                <label for="validationCustom01">Title:</label>
                <input
                  class="form-control"
                  id="validationCustom01"
                  type="text"
                  placeholder="Post Title"
                  required=""
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="mb-3">
                <label>Type:</label>
                <div class="m-checkbox-inline">
                  <label for="edo-ani">
                    <input
                      class="radio-primary"
                      id="edo-ani"
                      type="radio"
                      name="rdo-ani"
                      checked=""
                    />Text
                  </label>
                  <label for="edo-ani1">
                    <input class="radio-primary" id="edo-ani1" type="radio" name="rdo-ani" />Image
                  </label>
                  <label for="edo-ani2">
                    <input
                      class="radio-primary"
                      id="edo-ani2"
                      type="radio"
                      name="rdo-ani"
                      checked=""
                    />Audio
                  </label>
                  <label for="edo-ani3">
                    <input class="radio-primary" id="edo-ani3" type="radio" name="rdo-ani" />Video
                  </label>
                </div>
              </div>
              <div class="mb-3" data-test-hook="remove-button">
                <label class="col-form-label mb-2" for="choices-remove-button">Category:</label>
                <ng-select
                  [items]="cities2"
                  bindLabel="name"
                  bindValue="id"
                  [multiple]="true"
                  placeholder="Select cities"
                  [(ngModel)]="selectedCityIds"
                  name="name"
                />
              </div>
              <div class="email-wrapper">
                <div class="theme-form">
                  <div class="mb-3">
                    <label>Content:</label>
                    <angular-editor
                      [placeholder]="'Enter text here...'"
                      [ngModel]="htmlContent"
                      [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="dropzone border-0 dropzone-bg customize-dropzone">
            <dropzone [config]="Config" [message]="text" />
          </div>
          <div class="btn-showcase text-end blog-btn">
            <button class="btn btn-primary" type="submit">Post</button>
            <input class="btn bg-light" type="reset" value="Discard" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
