<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6">
            <app-lines-chart />
        </div>
        <div class="col-xl-6">
            <app-advanced-smil-animations />
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-dount-svg-animate />
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-bi-polar-line />
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-line-area-chart />
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-bi-polar-bar-chart />
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-stacked-bar-chart />
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-horizontal-bar-chart />
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-extreme-responsive-configuration />
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-svg-path-animation />
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-holes-in-data />
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
            <app-filled-holes-in-data />
        </div>
    </div>
</div>