<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6">
            <app-common-badge-pills [data]="BadgesData" />
        </div>
        <div class="col-xl-6">
            <app-common-badge-pills [data]="PillsData" /> 
        </div>
        <div class="col-xl-6">
            <app-common-badge-pills [data]="NumberBadgeData" />
        </div>
        <div class="col-xl-6">
            <app-common-badge-pills [data]="NumberPillsData" />
        </div>
        <div class="col-xl-6">
            <app-common-badge-pills [data]="IconBadeData" />
        </div>
        <div class="col-xl-6">
            <app-common-badge-pills [data]="IconpillsData" />
        </div>
        <div class="col-lg-4 col-md-6">
            <app-touchspin-badges />
        </div>
        <div class="col-lg-4 col-md-6">
            <app-animated />
        </div>
        <div class="col-lg-4">
            <app-center />
        </div>
        <div class="col-lg-6">
            <app-badge-headings />
        </div>
        <div class="col-lg-6">
            <app-badges-buttons />
        </div>
    </div>
</div>