<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-8 col-xl-12">
            <app-headings />
        </div>
        <div class="col-xxl-4 col-xl-12">
            <app-colored-headings />
        </div>
        <div class="col-xl-12">
            <app-font-weight />
        </div>
        <div class="col-xl-12">
            <app-listing-typography />
        </div>
        <div class="col-xl-12">
            <app-display-heading />
        </div>
        <div class="col-xxl-6 col-xl-12">
            <app-inline-text-elements />
        </div>
        <div class="col-xxl-6 col-xl-12">
            <app-text-color />
        </div>
        <div class="col-xl-12">
            <app-blockquotes />
        </div>
    </div>
</div>