<div class="container-fluid project-dashboard">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <app-total-project />
        </div>
        <div class="col-sm-6 col-md-4">
            <app-total-revenue />
        </div>
        <div class="col-sm-6 col-md-4">
            <app-total-clients />
        </div>
        <div class="col-lg-6 col-xl-4 col-xxl-5">
            <app-projects-overview />
        </div>
        <div class="col-lg-6 col-xl-8 col-xxl-7">
            <app-tasks />
        </div>
        <div class="col-xl-8">
            <div class="row">
                <div class="col-md-6">
                    <app-to-do-list />
                </div>
                <div class="col-md-6">
                    <app-activity-report />
                </div>
                <div class="col-md-12 col-lg-6">
                    <app-project-progress />
                </div>
                <div class="col-md-12 col-lg-6">
                    <app-team-members />
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xl-4">
            <app-calender />
        </div>
    </div>
</div>