<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-default-pagination />
        </div>
        <div class="col-md-6">
            <app-active-disabled-pagination />
        </div>
        <div class="col-md-6">
            <app-icons-pagination />
        </div>
        <div class="col-md-6">
            <app-rounded-pagination />
        </div>
        <div class="col-md-6">
            <app-alignment-pagination />
        </div>
        <div class="col-md-6">
            <app-sizing-pagination />
        </div>
    </div>
</div>