<div class="container-fluid">
    <div class="row">
        <app-top-common-lists />
        <div class="col-xxl-6">
            <app-contextual-classes />
        </div>
        <div class="col-xxl-6">
            <app-default-lists />
        </div>
        <div class="col-md-12">
            <app-custom-content-lists />
        </div>
        <div class="col-md-4">
            <app-checkbox-lists />
        </div>
        <div class="col-md-4">
            <app-radios-lists />
        </div>
        <div class="col-md-4">
            <app-numbers-lists />
        </div>
        <div class="col-md-12">
            <app-java-script-behavior />
        </div>
        <div class="col-xxl-4 col-lg-6">
            <app-numbers-badge-lists />
        </div>
        <div class="col-xxl-4 col-lg-6">
            <app-disabled-lists />
        </div>
        <div class="col-xxl-4 col-lg-12">
            <app-scrollable-lists />
        </div>
    </div>
</div>