<div class="container-fluid grid-option">
    <div class="row">
        <div class="col-xl-12">
            <app-grid-option />
        </div>
        <div class="col-xl-12">
            <app-grid-column />
        </div>
        <div class="col-xl-12">
            <app-vertical-alignment />
        </div>
        <div class="col-xl-12">
            <app-horizontal-alignment />
        </div>
        <div class="col-xl-12">
            <app-nesting />
        </div>
        <div class="col-xl-12">
            <app-order />
        </div>
        <div class="col-xl-12">
            <app-offset />
        </div>
    </div>
</div>