<div class="card">
    <div class="card-header pb-0">
        <h4>Buttons Description</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <p class="mb-1"><span>Use <code>.btn</code> class for Bootstrap state buttons </span></p>
                <p class="mb-1"><span>Use <code>.flat-btn</code> class for Flate buttons</span></p>
                <p class="mb-1"><span>Use <code>.edge-btn</code> class for Edge buttons</span></p>
                <p class="mb-1"><span>Use <code>.btn-lg , .btn-sm , .btn-xs</code> class for Different size
                        button</span></p>
                <p class="mb-1"><span>Use <code>.disabled </code> class or<code>disabled </code> attribute for
                        Disabled state</span></p>
                <p class="mb-1"><span>Use <code>.btn-outline-*</code> class for Border buttons</span></p>
                <p class="mb-1"><span>Use <code>.btn-outline-*-2x</code> class for Bold Outline button</span></p>
                <p class="mb-1"><span>Use <code>.btn-light-*</code> class for Light Background Color.</span></p>
                <p class="mb-1"><span>Use <code>.btn-*-gradien</code> class for gradien button </span></p>
            </div>
        </div>
    </div>
</div>