<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <app-simple-typeahead />
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-wikipedia-search />
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-open-on-focus />
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-formatted-results />
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-select-on-exact />
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-template-for-results />
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-prevent-manual-entry />
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-global-configuration-typeaheads />
        </div>
    </div>
</div>