<div class="container-fluid accordion-page input-group-page">
    <div class="row">
        <div class="col-md-6">
            <app-button-addons />
        </div> 
        <div class="col-md-6">
            <app-custom-forms />
        </div>
        <div class="col-xl-6">
            <app-custom-file-input />
        </div>
        <div class="col-xl-6">
            <app-segmented-buttons />
        </div>
        <div class="col-md-6">
            <app-buttons-dropdowns />
        </div>
        <div class="col-md-6">
            <app-checkboxes-and-radios />
        </div>
        <div class="col-md-6">
            <app-input-groups-sizing />
        </div>
        <div class="col-md-6">
            <app-multiple-inputs />
        </div>
        <div class="col-md-6">
            <app-basic-input-groups />
        </div>
        <div class="col-md-6">
            <app-variation-addons />
        </div>
    </div>
</div>